* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    
}


.sidebar ul li.submenu {
    position: relative;
}

.sidebar ul li.submenu .dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: rgb(151, 156, 156);
    padding-left: 10px;
    border-left: 2px solid #000000;
}

.sidebar ul li.submenu:hover .dropdown {
    max-height: 500px;
}

.sidebar ul li.submenu .dropdown li a {
    padding: 6px 10px;
font-size: 16px;
    color: #000;
    text-decoration: none;
    display: block;
    font-weight: normal;
}

.sidebar ul li.submenu .dropdown li a:hover {
    background-color: rgb(218, 214, 214);
    color: #000;
}


.form-login {
  width: 400px;
  height: 340px;
  background: #4e4d4d;
  margin: auto;
  margin-top: 180px;
  box-shadow: 7px 13px 37px #b70505;
  padding: 20px 30px;
  border-top: 4px solid #017bab;
  color: #ffffff;
}

.form-login h5 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
}

.controls {
  width: 100%;
  border: 1px solid #017bab;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: #110d0d;
  font-size: 14px;
  font-weight: bold;
}

.buttons {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: rgb(248, 240, 240);
    margin-bottom: 16px;
}

.form-login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}

.form-login a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 14px;
}

.form-login a:hover {
    text-decoration: underline;
}



.container {
    width: 100%;
    margin: 0 auto;
}

.header {
    background-color: rgb(112, 104, 104);
    padding: 10px;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
}
.header2 {
   background-color: #448a0a79;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    width: 15%;
    background-color: rgb(197, 202, 209);
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.sidebar2 {
    width: 15%;
    background-color: #4b5320;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.sidebar h2 {
    font-size: 22px;
    color: #911111;
    text-align: center;
}

.sidebar ul {
    padding: 0;
}

.sidebar a {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 5px;
    transition: 0.3s;
    font-weight: bold;
}
.sidebar2 a {
    display: block;
    text-decoration: none;
    color: #f5f5dc;
    padding: 8px;
    border-radius: 5px;
    transition: 0.3s;
    font-weight: bold;
}

.sidebar a:hover {
    background-color: rgb(77, 79, 82);
    color: rgb(245, 224, 224);
}

.main {
    width: 85%;
    padding: 3rem;
    box-sizing: border-box;
    background-color: rgb(150, 165, 165);
    margin-bottom: 10px;
}

.bloque {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  width: 90%;
  max-width: 900px;
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
}


.main2 {
    width: 85%;
    padding: 3rem;
    box-sizing: border-box;
    background-color: rgba(100, 202, 117, 0.267);
    margin-bottom: 10px;
}

.main h1 {
    color: red;
    text-align: center;
}

.main h3 {
    color: black;
    text-align: justify;
}

/* Tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Footer */
.footer {
    background-color: #7c7f80;
    padding: 20px;
    text-align: center;
}
.footer2 {
    background-color: #448a0a79;
    padding: 20px;
    text-align: center;
}




.footer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.footer input,
.footer textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.footer button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer button:hover {
    background-color: #555;
}

/* --- RESPONSIVO --- */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .sidebar, .main {
        width: 100%;
    }

    .main {
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    .footer input,
    .footer textarea {
        width: 90%:
        }
}